<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbdpcloud.mapper.ProjectMemberMapper">
    <resultMap id="BaseResultMap" type="com.gbdpcloud.entity.ProjectMember">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="member_ID" jdbcType="VARCHAR" property="member_ID" />
        <result column="project_ID" jdbcType="VARCHAR" property="project_ID" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
    id, member_ID, project_ID, create_date, update_date, create_by, update_by, remarks, del_flag
  </sql>

    <!--过期，仅供参考-->
    <select id="list" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM project_member t
        <where>
            t.del_flag = '0'
        </where>
    </select>

    <select id="selectByProjectID" resultMap="BaseResultMap" >
        SELECT* FROM project_member t
        <where>
            t.del_flag = '0'
            AND t.project_ID = #{id}
        </where>
    </select>

    <!--过期，仅供参考-->
    <select id="get" resultMap="BaseResultMap" >
        SELECT* FROM project_member WHERE del_flag = '0' AND id = #{id}
    </select>

    <select id="getByMember" resultMap="BaseResultMap" >
        SELECT* FROM project_member WHERE del_flag = '0' AND member_ID = #{id}
    </select>

    <!--逻辑删除-->
    <update id="deleteByLogic">
        DELETE from project_member WHERE id = #{id}
    </update>

    <update id="deleteManyIds">
        DELETE from project_member WHERE id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>