<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbdpcloud.mapper.ResultMapper">
  <resultMap id="BaseResultMap" type="com.gbdpcloud.entity.Result">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="project" jdbcType="VARCHAR" property="project" />
    <result column="code_version" jdbcType="VARCHAR" property="code_version" />
    <result column="configuration" jdbcType="VARCHAR" property="configuration" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="filter" jdbcType="VARCHAR" property="filter" />
    <result column="task_ID" jdbcType="INTEGER" property="task_ID" />
    <result column="code_ID" jdbcType="VARCHAR" property="code_ID" />
    <result column="test_ID" jdbcType="VARCHAR" property="test_ID" />
    <result column="code_name" jdbcType="VARCHAR" property="code_name" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, project, code_version, configuration, source, filter, task_ID,
    code_ID, test_ID, code_name, result, status,
    create_date, update_date, create_by, update_by, remarks, del_flag
  </sql>
</mapper>