<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbdpcloud.mapper.UacRoleUserMapper">
  <resultMap id="BaseResultMap" type="gbdpcloudprovideruserapi.gbdpcloudprovideruserapi.model.UacRoleUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, user_id, create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>

  <!--过期，仅供参考-->
  <select id="list" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM uac_role_user t
    <where>
      t.del_flag = '0'
    </where>
  </select>

  <!--过期，仅供参考-->
  <select id="get" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM uac_role_user t
    WHERE t.del_flag = '0'
    <if test="id != null and id != ''">
      AND t.id = #{id}
    </if>
  </select>

  <!--逻辑删除-->
  <update id="deleteByLogic">
        DELETE uac_role_user
        WHERE id = #{id}
    </update>

  <update id="deleteManyByLogic">
        DELETE uac_role_user
        WHERE id IN (#{ids})
    </update>



  <select id="getByRidAuid" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM uac_role_user t
    <where>
      t.del_flag = '0' and t.role_id = #{rid} and t.user_id = #{uid}
    </where>
  </select>

  <update id="delByID">
    UPDATE uac_role_user
    set del_flag = '1'
    WHERE id = #{id}
  </update>


  <select id="getByUser" resultMap="BaseResultMap" >
    SELECT *
    FROM uac_role_user t
    WHERE t.del_flag = '0' and t.user_id = #{id}
  </select>


</mapper>