<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbdpcloud.mapper.UserLogMapper">
  <resultMap id="BaseResultMap" type="com.gbdpcloud.entity.UserLog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, operate, create_date, update_date, create_by,
    update_by, remarks, del_flag, user_id
  </sql>
  <!--过期，仅供参考-->
  <select id="list" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM user_log t
    <where>
      t.del_flag = '0'
    </where>
  </select>

  <!--过期，仅供参考-->
  <select id="get" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM user_log t
    WHERE t.del_flag = '0'
    <if test="id != null and id != ''">
      AND t.id = #{id}
    </if>
  </select>

  <!--逻辑删除-->
  <update id="deleteByLogic">
        DELETE user_log
        WHERE id = #{id}
    </update>

  <update id="deleteManyByLogic">
        DELETE user_log
        WHERE id IN (#{ids})
    </update>

</mapper>