##导入宏定义
$!define

##设置表后缀（宏定义）
#setTableSuffix("Controller")

##保存文件（宏定义）
#save("/controller", "Controller.java")

##包路径（宏定义）
#setPackageSuffix("controller")

##定义服务名
#set($serviceName = $!tool.append($!tool.firstLowerCase($!tableInfo.name), "Service"))

##定义实体对象名
#set($entityName = $!tool.firstLowerCase($!tableInfo.name))


import $!{tableInfo.savePackageName}.entity.$!tableInfo.name;
import $!{tableInfo.savePackageName}.service.$!{tableInfo.name}Service;
import org.springframework.web.bind.annotation.*;
import org.springframework.validation.annotation.Validated;
import gbdpcloudcommonbase.gbdpcloudcommonbase.httpResult.Result;
import gbdpcloudcommonbase.gbdpcloudcommonbase.httpResult.ResultGenerator;
import gbdpcloudcommonbase.gbdpcloudcommonbase.core.BaseController;
import gbdpcloudcommonbase.gbdpcloudcommonbase.page.PageRequest;
import gbdpcloudcommonbase.gbdpcloudcommonbase.page.PageResult;
import gbdpcloudcommonbase.gbdpcloudcommonbase.core.Service;
import gbdpcloudcommonbase.gbdpcloudcommonbase.validation.CreateGroup;
import gbdpcloudcommonbase.gbdpcloudcommonbase.validation.UpdateGroup;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import javax.annotation.Resource;
import javax.validation.Valid;
import javax.validation.constraints.NotBlank;
import java.io.Serializable;
import java.util.List;

##表注释（宏定义）
#tableComment("表控制层")
@Api(value = "$!{tableName}")
@RestController
@RequestMapping("$!tool.firstLowerCase($!tableInfo.name)")
public class $!{tableName} extends BaseController{

/**
 * 服务对象
 */
    @Resource
    private $!{tableInfo.name}Service $!{serviceName};

    @PostMapping
    public Result save(@RequestBody @Valid $!tableInfo.name $!entityName){
        int i=$!{serviceName}.saveOrUpdate($!entityName);
        return i>0?ResultGenerator.genSuccessResult():ResultGenerator.genFailResult("insert失败");
        }

    @DeleteMapping("/{id}")
    public Result delete(@PathVariable String id){
        int i=$!{serviceName}.deleteById(id);
        return i>0?ResultGenerator.genSuccessResult():ResultGenerator.genFailResult("deleteById失败");
        }

    @DeleteMapping
    public Result deleteByIds(@RequestBody @Valid @NotBlank(message = "idsStr不能为空") String idsStr){
        int i=$!{serviceName}.deleteByIds(idsStr);
        return i>0?ResultGenerator.genSuccessResult():ResultGenerator.genFailResult("deleteList失败");
        }

    @PutMapping
    public Result update(@RequestBody @Valid $!tableInfo.name $!entityName){
        int i=$!{serviceName}.saveOrUpdate($!entityName);
        return i>0?ResultGenerator.genSuccessResult():ResultGenerator.genFailResult("update失败");
        }

    @GetMapping("/{id}")
    public Result get(@PathVariable String id){
        $!tableInfo.name $!entityName=$!{serviceName}.getById(id);
        return ResultGenerator.genSuccessResult($!entityName);
        }

    @GetMapping
    public Result list(@Valid PageRequest pageRequest, $!tableInfo.name $!entityName){
        return ResultGenerator.genSuccessResult($!{serviceName}.page(pageRequest, $!entityName));
    }

    @GetMapping("/all")
    public Result listAll($!tableInfo.name $!entityName){
        List<$!tableInfo.name> list = $!{serviceName}.list($!entityName);
        return ResultGenerator.genSuccessResult(list);
    }
}
